.product-container{
    width: 220px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    margin: 15px 0;
    box-shadow: 0 5px 4px rgba(0,0,0,.3);
    transition: all 1s ease ;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.description span{
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    color: #7a7a7a;
    text-transform:uppercase;
}
.description p {
    color: #7a7a7a;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 12px;
}
.description strong{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 18px;
}
#poligon{
    background-image: url('../../assets/polygon.png');
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 5px 0 0;
    width: 80px;
    height: 72px;
    display: flex;
    padding: 10px 40px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: #fff;
}
.product-container a {
    width: 125px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    outline: none;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    color: #fff;
    font-size: 12px;
    margin-top: 5px;
    text-decoration: none;
    background: #00e676;
}
@media (max-width: 1024px){
        .product-container{
            width: 350px;
        }
}
@media (max-width: 880px){
        .product-container{
            width: 280px;
        }
}